# Transfom Playbook 

Notebook goal is to explore and transform the the data.

In [46]:
import sys
import os
import pandas as pd
from configparser import ConfigParser
import urllib.request, json
sys.path.append('../src/')

## Extract

In [31]:
import config # config.py

In [35]:
conn_config = config.read_connection(path="../src/config/connection.ini", section="extract") 
url = "https://api.nationaltransport.ie/gtfsr/v2/TripUpdates?format=json"
hdr ={
    # Request headers
    'Cache-Control': 'no-cache',
    'x-api-key': conn_config['api'],
    }

In [36]:
def extract_data(url, hdr):
    try:
        req = urllib.request.Request(url, headers=hdr)
        req.get_method = lambda: 'GET'
        response = urllib.request.urlopen(req)
        print(f" response code {response.getcode()}")
        return response.read()
    except Exception as e:
        print(f'Extraction error: {e}')

In [56]:
raw_data = extract_data(url, hdr)

 response code 200

## Transform

In [233]:
# Decode UTF-8 bytes to Unicode, and convert single quotes 
# to double quotes to make it valid JSON
my_json = raw_data.decode('utf8').replace("'", '"')
# Load the JSON to a Python list & dump it back out as formatted JSON
data = json.loads(my_json)

In [ ]:
# expand the dictionary
pd.json_normalize(data['entity'])
df = pd.json_normalize(data['entity'])

In [234]:
# remove the list from column
df.explode('trip_update.stop_time_update')
df = df.explode('trip_update.stop_time_update')

In [235]:
# expand the stop_time_update
pd.concat([df.drop(['trip_update.stop_time_update'], axis=1), df['trip_update.stop_time_update'].apply(pd.Series)], axis=1)
df = pd.concat([df.drop(['trip_update.stop_time_update'], axis=1), df['trip_update.stop_time_update'].apply(pd.Series)], axis=1)

,id,trip_id,start_time,start_date,trip_schedule_relationship,route_id,direction_id,vehicle_id,timestamp,stop_sequence,stop_id,schedule_relationship,arrival_delay,departure_delay
0,T1,3356_59133,06:05:00,20230617,SCHEDULED,3356_48189,1,1354,1687083614,23.0,14274,SCHEDULED,155.0,155.0
0,T1,3356_59133,06:05:00,20230617,SCHEDULED,3356_48189,1,1354,1687083614,24.0,13085,SCHEDULED,0.0,NaN
1,T2,3356_59733,06:15:00,20230617,SCHEDULED,3356_48192,0,NaN,1687083614,24.0,16414,SCHEDULED,219.0,389.0
1,T2,3356_59733,06:15:00,20230617,SCHEDULED,3356_48192,0,NaN,1687083614,25.0,16386,SCHEDULED,266.0,266.0
1,T2,3356_59733,06:15:00,20230617,SCHEDULED,3356_48192,0,NaN,1687083614,26.0,16387,SCHEDULED,462.0,462.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,T1615,3356_12967,11:50:00,20230617,SCHEDULED,3356_48224,1,1459,1687083614,1.0,11858,SCHEDULED,NaN,0.0
1615,T1616,3356_16762,11:50:00,20230617,SCHEDULED,3356_48227,1,1392,1687083614,1.0,13262,SCHEDULED,NaN,0.0
1616,T1617,3356_16194,11:50:00,20230617,SCHEDULED,3356_48227,0,1276,1687083614,1.0,14339,SCHEDULED,NaN,0.0
1617,T1618,3356_33156,11:50:00,20230617,SCHEDULED,3356_48242,0,2106,1687083614,1.0,13089,SCHEDULED,NaN,0.0
1618,T1619,3356_55862,11:50:00,20230617,SCHEDULED,3356_48321,0,NaN,1687083614,1.0,15513,SCHEDULED,NaN,0.0

In [224]:
# expand the arrival column
pd.concat([df.drop(['arrival'], axis=1), df['arrival'].apply(pd.Series).rename(columns={"delay" : "arrival_delay"})['arrival_delay']], axis=1)
df = pd.concat([df.drop(['arrival'], axis=1), df['arrival'].apply(pd.Series).rename(columns={"delay" : "arrival_delay"})['arrival_delay']], axis=1)

In [225]:
# expand the departure column
pd.concat([df.drop(['departure'], axis=1), df['departure'].apply(pd.Series).rename(columns={"delay" : "departure_delay"})['departure_delay']], axis=1)
df = pd.concat([df.drop(['departure'], axis=1), df['departure'].apply(pd.Series).rename(columns={"delay" : "departure_delay"})['departure_delay']], axis=1)

In [228]:
# remove nan columns
df.dropna(axis=1, how="all")
df = df.dropna(axis=1, how="all")

In [116]:
# column rename 
df = df.rename(columns={'trip_update.trip.trip_id':'trip_id', 'trip_update.trip.start_time' : 'start_time',
       'trip_update.trip.start_date': 'start_date', 'trip_update.trip.schedule_relationship': 'trip_schedule_relationship',
       'trip_update.trip.route_id':'route_id', 'trip_update.trip.direction_id':'direction_id',
       'trip_update.vehicle.id':'vehicle_id', 'trip_update.timestamp': 'timestamp'})

## Load

In [272]:
#!pip install SQLAlchemy
#!pip install psycopg2-binary
from sqlalchemy import create_engine
import psycopg2

In [258]:
# create database
def create_db(db_name):
    with engine.connect() as conn:
        try:
            conn.execute(f'create database {db_name}')
            conn.commit()
        except Exception as e:
            print(f'failed to create database {db_name}: {e}')
            raise e

In [283]:
# load the dataframe into table TripUpdates
def load_data(username, password, port, ipaddress, database_name, data):
    # create database
    #create_db(database_name)
    try:
        # connection engine = create_engine('postgresql://username:password@localhost:5432/mydatabase')
        engine = create_engine(f'postgresql://{username}:{password}@{ipaddress}:{port}/{database_name}')
        df.to_sql('TripUpdates', engine, if_exists='append', index=False)
        print(f' TripUpdates table in database {database_name}')
    except Exception as e:
        print(f'failed to write dataframe to {database_name}: {e}')
        raise e

In [284]:
postgres_config = config.read_connection(path="../src/config/connection.ini", section="postgresql")

In [285]:
load_data(postgres_config['username'], postgres_config['password'], postgres_config['port'], postgres_config['ipaddress'], postgres_config['database'], df)

 TripUpdates table in database postgresdb